
@{
    ViewBag.Title = "ListJobCandidate";
}

<h2>ListJobCandidate</h2>


<table border="1">
    <tr>
        <th>Employee Id</th>
        <th>Job Candidate Id</th>
        <th>Resume</th>
        <th>Modified Date</th>
    </tr>

    @foreach (var anItem in ViewBag.AListOfJobCandidate)
    {
        <tr>

            <td>@anItem.BusinessEntityId</td>
            <td>@anItem.JobCandidateId</td>
            <td>@anItem.Resume</td>
            <td>@anItem.ModifiedDate</td>
        </tr>
    }
</table> <br />